<form action="/home" method="post">
    <input type="text" placeholder="address">
    <p></p>
    <input type="text" placeholder="floor">
    <p></p>
    <input type="text" placeholder="price">
    <p></p>
    <button type="submit">Submit</button>
</form>