<script src="/adding-apartments.js"></script>


<form id='add-app-form' action="/home" method="post">
    <input id="inputAddress" type="text" placeholder="address">
    <p></p>
    <input id="inputFloor" type="text" placeholder="floor">
    <p></p>
    <input id="inputPrice" type="text" placeholder="price">
    <p></p>
    <button type="submit">Submit</button>
</form>