<div class="card text-center">
    <div class="card-header">

    </div>
    <div class="card-body">
        <h5 class="card-title">Запрос успешно отправлен!</h5>
        <a href="/" class="btn btn-primary">Вернуться</a>
    </div>
    <div class="card-footer text-muted">

    </div>
</div>