<script src="/log-page.js"></script>

<form id='logo-form'>
    <input id="InputEmail" type="text">
    <p></p>
    <input id='logPass' type="password">
    <p></p>
    <button type="submit">Submit</button>
</form>
<p></p>
<form id='addApart'>
    <input id="address" type="text">
    <p></p>
    <input id='floor' type="text">
    <p></p>
    <input id='price' type="text">

    <button type="submit">Submit</button>
</form>