<form action="/done" method='post'>

    <div>
        <label></label>
        <textarea class="form-control" name="desc" id="desc" cols="30" rows="10"
            placeholder="Оставьте контакты для связи: номер телефона, почту, как к вам обращаться"></textarea>
    </div>
    <button class="btn btn-primary">Отправить</button>
</form>