<form action="/register" method="post">
    <input type="text" placeholder="name">
    <p></p>
    <input type="text" placeholder="surname">
    <p></p>
    <input type="text" placeholder="password">
    <p></p>
    <input type="password" placeholder="email">
    <p></p>
    <input type="text" placeholder="owner/renter">
    <button type="submit">Submit</button>
</form>